$color1: white;
$color2: #231f20;
$color3: #ff7417;
$color4: #f3f3f3;
$color5: #65c18d;
$color6: #e4e4e4;

$primary: $color3 !default;
$info: $color5 !default;
$dark: $color2 !default;
$light: $color1 !default;

$font-1-thin: "Neusa-Thin";
$font-1-light: "Neusa-Light";
$font-1: "Neusa";
$font-1-medium: "Neusa-Medium";
$font-1-bold: "Neusa-Bold";

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "../../node_modules/bulma-carousel/src/sass/index.sass";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+".eot"), url($font-file+".woff") format("woff"),
      url($font-file+".ttf") format("truetype"),
      url($font-file+".svg#aller") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

@include font("Neusa-Thin", "./../../public/fonts/NeusaNextPro-Thin");
@include font("Neusa-Light", "./../../public/fonts/NeusaNextPro-Light");
@include font("Neusa", "./../../public/fonts/NeusaNextPro-Regular");
@include font("Neusa-Medium", "./../../public/fonts/NeusaNextPro-Medium");
@include font("Neusa-Bold", "./../../public/fonts/NeusaNextPro-Bold");

button {
  font-family: $font-1-bold;
  font-weight: normal;
  font-size: 16px;
  padding-top: calc(0.6em - 1px) !important;
}

body {
  font-family: $font-1;
  background-color: $color1;
  p {
    font-family: $font-1;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
  }
  .navbar-item {
    img {
      max-height: 1.4rem;
    }
  }
}
.navbar {
  background-color: $color2 !important;
  a,
  .icon {
    color: $color1;
  }
}

.is-fullheight-with-navbar {
  .hero-body {
    align-items: baseline !important;
  }
}

// START NAVBAR
@media screen and (max-width: 1023px) {
  .navbar-center-mobile {
    align-items: stretch;
    display: flex;
  }
  .navbar-menu {
    .navbar-item {
      color: $color2;
      text-align: center;
    }
    .navbar-center {
      .navbar-item::before {
        display: none;
      }
    }
  }
  .navbar {
    .icon {
      color: $color2;
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar-center {
    align-items: stretch;
    display: flex;
  }
  .hero.is-fullheight-with-navbar {
    min-height: calc(100vh - 5.4rem) !important;
  }
  .navbar-menu {
    .navbar-end {
      margin-left: 0;
    }
    .navbar-center {
      .navbar-item::before {
        content: "";
        background-color: $color1;
        opacity: 1;
        width: 0.1rem;
        height: 20%;
        position: absolute;
        left: 49%;
        bottom: 0%;
      }
      .navbar-item:active,
      .is-active::before,
      .is-active,
      .navbar-item:hover {
        background-color: $color2;
        font-family: $font-1-bold;
        color: $color3;
      }
    }
  }
  .fa-stack-1x {
    margin-left: 7px;
  }
}

.navbar-center {
  margin: 0 auto;
}
.hero-footer {
  background-color: $color2;
  color: $color1;
  .columns {
    margin: 0;
    .column {
      padding: 0.2rem 1rem 0.2rem 1rem !important;
      a {
        color: $color1;
      }
    }
  }
}

.navbar-item {
  img {
    max-height: 1.5rem;
  }
}
// END NAVBAR

// START HOME
#home_logo {
  height: auto;
  width: auto;
}
#slogan {
  font-size: 1.3rem;
}

.columns {
  .column {
    h2 {
      color: $color3;
      font-size: 1.3rem;
    }
  }
}

.box {
  background-color: $color4;
}

.extended {
  background-color: $color3;
  padding: 0.4rem 0 0.3rem 0;
  .title {
    font: 18px $font-1, sans-serif;
    color: $color1;
  }
}
.is-fullheight-with-navbar {
  .hero-body {
    padding: 3rem 0rem;
    align-items: baseline !important;
  }
}
.is-fluid-without-padding {
  max-width: none;
  padding: 0;
  width: 100%;
}

.custom-card-footer {
  background-color: $color2;
}

.has-item-centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#profil-default {
  height: 50%;
  width: 50%;
}

.button-edit {
  margin-top: -5%;
}

.margin-form {
  margin-left: 5%;
  margin-right: 5%;
}

.repairer {
  background-color: $color4;
  border-style: solid;
  border-radius: 10px;
  border-color: $color2;
  border-width: 2px;
  margin: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.rate {
  background-color: $color5;
  border-radius: 50px;
  color: $color4;
  width: 80%;
  font-family: $font-1-bold;
}

.star::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f005";
  color: $color1;
}

.is-scrollable {
  height: 30rem;
  margin: 20px;
  overflow-y: scroll;
}

.is-margin-top {
  margin-top: 20px;
}

.margin-contact {
  margin-left: 15%;
  margin-right: 15%;
}

.tile {
  a {
    color: $color2;
    text-decoration: underline;
  }
  .title {
    font-family: $font-1-bold;
    font-size: 25px;
    font-weight: normal;
  }
  .field {
    .label {
      font-family: $font-1-light;
      font-size: 14px;
      font-weight: normal;
    }
    .control {
      .select {
        select {
          option {
            font-family: $font-1;
            font-size: 16px;
            font-weight: normal;
          }
        }
      }
    }
  }
}
// label::before {
//   border-color: $color3 !important;
//   background-color: $color3 !important;
// }
.container2 {
  padding: 1rem;
  background-color: $color4;
}
article {
  a {
    color: $color3;
    text-decoration: underline;
    font-family: "Neusa-Light";
    font-size: 14px;
    font-weight: normal;
  }
  .prix {
    width: 20%;
  }
}

.margin-contact {
  margin-left: 25%;
  margin-right: 25%;
}

.min-height-textarea {
  min-height: 20rem !important;
  margin-bottom: 5%;
}

.contact-footer {
  background-color: $color2;
}

.panel {
  color: $color3;
  .panel-tabs {
    a {
      color: $color2;
    }
    a:hover {
      color: $color3;
    }
  }
  .panel-block {
    .title {
      font-size: 20px;
      font-weight: normal;
      line-height: normal;
    }
    .subtitle {
      font-size: 16px;
    }
    .panel-icon {
      color: $color3;
      margin-right: 0;
    }
  }
}

.text-footer {
  color: $color1;
}
.is-color6 {
  background-color: $color6;
}

.card {
  border-radius: 20px;
}

/**
.fa-stack {
  font-size: .8em; 
  i { vertical-align: middle; }
}
**/
.green-circle {
  color: $color5;
}

.orange-circle {
  color: $color3;
}

.orange {
  background-color: $color3;
}
.card-header {
  display: block;
  padding-bottom: 2rem;
}
.card-header,
.card-content {
  background-color: $color4;
}

.custom-card-footer {
  .columns {
    .column {
      p {
        color: $color1;
        font-size: 1.5rem;
      }
    }
  }
}

.contacts {
  max-height: 47rem;
  min-height: 47rem;
  overflow-y: scroll;

  hr {
    background-color: $color1;
    margin: 0;
  }
}

.contact {
  background-color: $color4;
  padding: 30px;
}

.chat {
  width: 490px;
  float: left;
  background: $color4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: $color2;

  .chat-history {
    // padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 30rem;

    .message-data {
      margin-bottom: 15px;
    }

    .message-data-time {
      color: lighten($color2, 8%);
      padding-left: 6px;
    }

    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;

      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $color2;
        border-width: 10px;
        margin-left: -10px;
      }
    }

    .my-message {
      background: $color2;
    }

    .other-message {
      background: $color3;

      &:after {
        border-bottom-color: $color3;
        left: 93%;
      }
    }

    li {
      list-style-type: none;
    }
  }

  .chat-message {
    padding: 30px;

    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
    }

    .fa-file-o,
    .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
    }
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.card {
  .title {
    font-family: $font-1-medium;
    font-size: 25px;
    font-weight: normal;
    line-height: normal;
  }
  .subtitle {
    font-family: $font-1-light;
    font-size: 16px;
  }
}

hr {
  background-color: $color2;
  margin: 0 auto;
  width: 70%;
  height: 1px;
}
.panel {
  div.panel-block:first-of-type {
    background-color: $color4;
  }
  .panel-block {
    display: block;
    hr {
      background-color: $color2;
      margin: 0 auto;
      width: 2px;
      height: 100%;
    }
  }
  .panel-tabs {
    background-color: $color4;
    a {
      text-decoration: none;
    }
  }
}
.image {
  background-color: $color4;
  img {
    height: 45px;
    width: auto;
    margin: 0 auto;
  }
}
