{% extends 'base.html.twig' %} {% block navbar %}
{{ parent() }}
<div class="container-is-fluid extended">
  <p class="title has-text-centered">Annonces sauvegardées</p>
</div>
{% endblock %} {% block body %}
<div class="container is-fluid-without-padding">
  <div class="columns is-centered">
    <div class="column is-half">
      <article class="panel">
        <p class="panel-tabs">
          <a class="is-active">Tous</a>
          <a>Mobile</a>
          <a>Ordinateur</a>
          <a>Tablette</a>
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input is-dark" type="text" placeholder="Search" />
            <span class="icon is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        <div class="panel-block">
          <div class="columns is-vcentered">
            <div class="column is-11">
              <p>
                <span class="title">Iphone 4</span>
                <br />
                <span class="subtitle">Ecran cassé</span>
              </p>
            </div>
            <div class="column is-1">
              <span class="panel-icon is-size-5">
                <i class="far fa-minus-square"></i>
              </span>
            </div>
          </div>
        </div>
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
          marksheet
        </a>
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
          minireset.css
        </a>
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
          jgthms.github.io
        </a>
      </article>
    </div>
  </div>
  <div class="columns"></div>
</div>
{% endblock %}
