{% extends 'base.html.twig' %} {% block navbar %}
{{ parent() }}
<div class="container-is-fluid extended">
  <p class="title has-text-centered">Contacter le vendeur</p>
</div>
{% endblock %} {% block body %}
<div class="container">
  <div class="card has-background-light">
      <div class="has-text-centered">
        <p class="is-size-4">Marie TYPOU</p>
      </div>
      <div class="has-text-centered">
        <p class="is-size-5 has-text-grey">GRADIGNAN - 33170</p>
      </div>

    <div class="card-content has-text-centered">
      <div class="content">
        <form action="" >
          <div class="field margin-contact">
            <div class="control">
              <textarea class="textarea min-height-textarea">
Bonjour, 
              
Je suis intéressé par votre offre de réparation, j'ai pris contact avec le
vendeur du produit et si sa réponse est positive je le ferai réparer par vos
soir.

Cordialement,
Léo POMA
              </textarea>
            </div>
          </div>
        </form>
      </div>
    </div>

    <footer class="contact-footer">
      <div class="columns is-marginless is-vcentered is-variable is-hidden-mobile" >
        <div class="column is-1">
          <img
            src="{{ asset('img/ecran-casse-petit.png') }}"
            alt="image du téléphone"
          />
        </div>
        <div class="column is-9">
          <p class="has-text-white">Iphone 4</p>
          <p class="has-text-grey">Ecran cassé</p>
        </div>
        <div class="column">
            <button class="button is-rounded is-custom-button-5">
              <span>Envoyer</span>
              <span class="icon">
                <i class="fas fa-angle-right"></i>
              </span> 
            </button>
        </div>
      </div>

      <div class="columns is-marginless is-vcentered is-variable is-mobile is-hidden-tablet is-hidden-desktop" >
        <div class="column is-2">
          <img
            src="{{ asset('img/ecran-casse-petit.png') }}"
            alt="image du téléphone"
          />
        </div>
        <div class="column is-6">
          <p class="has-text-white">Iphone 4</p>
          <p class="has-text-grey">Ecran cassé</p>
        </div>
        <div class="column is-4">
            <button class="button is-rounded is-custom-button-5">
              <span>Envoyer</span>
              <span class="icon">
                <i class="fas fa-angle-right"></i>
              </span> 
            </button>
        </div>
      </div>
    </footer>
    
  </div>
</div>
{% endblock %}