{% extends 'base.html.twig' %}

{% block body %}
<div class="container has-text-centered">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent is-vertical is-12">

            <div class="tile is-child is-vertical is-12 has-text-centered">
                <img id="home_logo" src="{{ asset('img/logo_black_300x97.png') }}" />
                <p id="slogan">Fais renaître tes apareils de leurs cendres !</p>
            </div>

            <div class="columns">
                <div class="column">
                    <h2 class="is-uppercase">Réparer</h2>
                    <p>Tu souhaites réparer des apareils éléctroniques tels que des téléphones,
                        ordinateurs ou tablettes ? UFix !
                    </p>
                </div>
                <div class="column">
                    <h2 class="is-uppercase">Acheter</h2>
                    <p>Tu souhaites acheter des apareils éléctroniques réparés (en séléctionnant
                        un réparateur près de chez toi), ou cassés ? UFix !</p>
                </div>
                <div class="column">
                    <h2 class="is-uppercase">Vendre</h2>
                    <p>Tu souhaites vendre tes apareils éléctroniques cassées ou en mauvais état ?
                        UFix !</p>
                </div>
            </div>

        </div>
    </div>

    <button class="button is-outlined is-rounded is-primary">Inscris-toi</button>
</div>
{% endblock %}