{% extends 'base.html.twig' %}

{% block title %}
	Annonces
{% endblock %}

{% block navbar %}
	{{ parent() }}
	<div class="container-is-fluid extended">
		<p class="is-size-3 has-text-centered">Annonces</p>
	</div>
{% endblock %}

{% block body %}

	<div class="container">

		<div class="card">
			<header class="card-header"></header>

			<div class="card-content has-text-centered">
				<div class="content">

					<div class="columns">
						<div class="column">
							<div class="columns">
								<div class="column">1</div>
								<div class="column">1</div>
								<div class="column">1</div>
								<div class="column">1</div>

							</div>
							<div class="columns">
								<div class="column">1</div>
								<div class="column">1</div>
								<div class="column">1</div>
								<div class="column">1</div>

							</div>
							<div class="columns">
								<div class="column">1</div>
								<div class="column">1</div>
								<div class="column">1</div>
								<div class="column">1</div>

							</div>
							<div class="columns">
								<div class="column">1</div>
								<div class="column">1</div>
								<div class="column">1</div>
								<div class="column">1</div>

							</div>
						</div>
					</div>

					<span class="icon">
						<i class="fas fa-angle-left"></i>
					</span>
					<span>
						Page 1 sur 3
					</span>
					<span class="icon">
						<i class="fas fa-angle-right"></i>
					</span>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
