

<div class="container">
    <div class="card has-background-light">
        <div class="card-content">
            <div class="legal-mentions has-text-centered">
                <p class="title is-size-4 has-text-centered">Contact</p>

                <h1>Message de {{ contact.name }}</h1>

                <p> {{ contact.message }}</p>
            </div>
        </div>
    </div>
</div>
